# Environments and Secrets
.env
backend/.env
.env.*
!.env.example

# Python cache & build files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/
build/
dist/
*.egg-info/

# Virtual environments
venv/
.venv/
env/
ENV/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE and Editor configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
